.photo {
	width: 40px;
}

.circle_list {
	width: 10px;
	height: 10px;
}

.product {
	width: 25%;
}

.type {
	width: 15%;
}

.guarantee {
	width: 20%;
}

.money {
	width: 15%;
}

.coming {
	width: 20%;
}
